*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;

}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7); /* sets the background color with transparency */
    backdrop-filter: blur(10px); /* applies a blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* adds support for Safari */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* adds a drop shadow effect to the navbar */
    flex-wrap: wrap;
    overflow: hidden;

}
nav .primaryh1{
    margin:  3px 8px;
    padding: 1px 8px;

    font-size: 43px;
    font-family: 'Playfair Display', serif;


}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;


}

nav .navLinks a{
    margin: 4px;
    padding: 4px 6px;
    font-size: 26px;
    text-decoration: none;
    color: black;

}


nav .navLinks a:hover{
    
    /* background-color: black;
    color: chartreuse;
    border: 1px solid white;
    border-radius: 14px;
     */
     font-size: 28px;
     font-weight: 500;

    

}

.box {
    margin: 2px 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: white;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    /* max-width: 867px; */

    /* width: 870px; */
    margin-top: 30px;
    
  }

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
  }
  
 .box img{
    /* border-radius: 50%; */
    /* width: 230px;
    height: 230px; */
    object-fit: contain;
    /* height: 481px;
    margin-top: 150px; */
    height: 294px;
    margin-top: 18px;
    object-position: center;
 }

 .img-container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px; /* Set the width of the container */
    height: 220px; /* Set the height of the container */
    border-radius: 50%; /* Make the container circular */
    border: 1px solid #a336fdc9;
    overflow: hidden; /* Hide the overflowing part of the image */
    margin: 4px 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4); /* adds a drop shadow effect to the navbar */


}
  
.box .text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 213px;
    align-items: center;
}
p{
    font-size: 20px;
}
.text h2{
    font-size: 45px;
}

.box2{
    margin: 36px 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    max-width: 867px;
}

.about h1{
    
    /* text-decoration: underline rgb(59, 226, 248) ; */
    border-bottom: 3px solid rgb(59, 226, 248); padding-bottom: 2px;
    
}

#resumeBtn {
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    /* background-color: #fff; */
    /* color: #333; */
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    width: 80px;
    height: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    border: 0px;
    color: black;
    

  }
  
  #resumeBtn:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    /* z-index: -1; */
    border-radius: 5px;
    background-color: #ccc;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }
  
  #resumeBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
  }
  
  #resumeBtn:hover:before {
    transform: scale(1);
  }

  .about, .aboutDesc, .resumeBtn{
    margin-top: 6px;
  } 


.box3{
    flex-direction: column;
    align-items: flex-start;
    /* min-width: 867px; */
    /* margin: 14px 0px ; */
    

}




.box3  #uni{
    font-size: 19px;
    font-weight: 550;
}


.about, #uni , #third{
    margin-top: 6px;
  } 

.company{
    color: rgb(44 151 199);
    font-size: 22px;
}

.about h1,#uni, .company, p, li{
    margin: 9px;
}

li{
    font-size: 19px;
}


.skillItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 3px;
}

.flex-item {
    width: calc(33.33% - 10px); /* or adjust as needed */
    margin-bottom: 20px;
  }

.skillWrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 2px 2px;

}

.skillWrap p{
    font-size: 26px;
    margin-right: 39px;
    
}

.project-container{
    color: #ccc;

}

.image-container {
    width: 300px; 
    height: 250px; 

    overflow: hidden; /*to ensure the image stays within the container
    margin-right: 20px; /* adjust this to add some spacing between the image and the project info */
    box-sizing: border-box;
    border-radius: 10px;
    align-self: center;
    display: flex;
    margin-right: 25px;


}
.project{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: calc(50% - 10px); /* set the initial width of the project item to 50% of the parent flexbox and subtract the margin */

    /* margin: auto 10px; */
    /* margin-left: 10px; */
    box-sizing: border-box;
    margin-top: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    /* padding: 14px; */
    /* border-radius: 10px; */
    align-items: center;
    

}
.projectBox{
    align-items: center;
    padding: 0;
    
}
.aboutleft{
    margin: 0;
    margin-bottom: 8px;
    align-self: flex-start;
}

.project h2{
    color: black;
}
.project p{
    color: black;
    margin-left: 0 ;
    font-size: 16px;
    font-weight: 200;
    
}
ul{
    margin-left: 9px;
}
li{
    color: black;
    font-size: 20px;
}

#hoodie{
    height: 257px;
    width: 433px;
}

#fourth{
    align-items: center;
}





.experience {
    align-self: flex-start;
  }


.projectName{
    text-align: center;
    /* margin-right: 20px; */
}

.project img{
    border-radius: 10px;
    /* display: inline; */
    box-sizing: border-box;
    width: 300px; 
    height: 250px; 
}

.hospital-link {
    text-decoration: none; /* remove underline */
  }

  
  .hospital-link:hover {
    text-decoration: none; /* remove underline on hover */
  }
  
  .hospital-link:hover h2 {
    color: rgb(74, 74, 225); /* change h2 text color on hover */
    font-weight: bold; /* add bold style to h2 text on hover */
  }
  
